.all{
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.img{
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}