
.owl > .owl-dots {
width:200px;
background:red;
}

.all{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 10px;
}

.all1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.all2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all3{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all4{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all5{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all6{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card{
  margin: 0px 10px;
}


